<div ng-init="loadTodoDetails()">
    <h4>Viewing {{todoList.EntityId}}</h4>
    <div class="btn-toolbar">
        <a ng-click="navigateBack()" class="btn btn-small btn-info">&laquo; Back To List</a>
    </div>
    <br />
    <ul>
        <todo-items todolist="todoList"></todo-items>
    </ul>
    <form class="form-inline" name="addtodoitemform" ng-submit="addTodoItem(itm)">
        <div class="form-group">
            <label for="itmName" class="sr-only">Description</label>
            <input type="text" id="itmName" name="Name" ng-model="itm.Name" placeholder="Task Description" />
        </div>
        <div class="form-group">
            <label for="itmPriority">Priority</label>
            <select id="itmPriority" name="Priority" ng-model="itm.Priority" ng-options="o.value as o.label for o in priorityOptions" ng-init="itm.Priority=50" />
        </div>
        <button type="submit" class="btn btn-success" name="submittodoitem"><span class="glyphicon glyphicon-plus"></span>&nbsp;&nbsp;Add Item</button>
    </form>

    <br />
    <div class="alert alert-success" id="success-msg" style="display: none;">Permissions saved successfully!</div>
    <div class="alert alert-danger" id="error-msg" style="display: none;">
        Uh oh! There was an error saving the permissions, 
    please try again or contact your administrator for help.
    </div>
</div>
