<div ng-app="todoList">
    <div ng-controller="todoListCtrl">
        
    </div>
</div>

@section Scripts{
    <script type="text/javascript" src="@Url.Content("~/Assets/js/angular_apps/todo/todo-list.js")"></script>
}